.container {
    padding: 5%;
}

.headerContainer {
    margin-bottom: 12px;
}

h2 {
    font-family: 'Saira';
    font-size: 48px;
    color: #083376;
    font-weight: 600;
}

.icon {
    color: #4392F1;
    width: 50px;
    height: 50px;
}

h3 {
    font-family: 'Saira';
    font-size: 22px;
    color: #000;
    font-weight: 600;   
}

.serviceColumnText {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000;
    font-weight: 400;  
}
@media screen and (max-width: 767px) { 
    .headerContainer {
        text-align: center;
    }

    .serviceColumnHeader {
        text-align: center;
    }

    .serviceColumnHeader svg {
        margin: 0 auto;
    }

    .serviceColumnText {
        text-align: center;
    }
}